@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME PAGE*/ /* VISTA MOBILE = MOBILE FIRST*/
.main{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(240, 247, 238);
    .main__h1{
        text-align: center;
        font-size: 3rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        font-weight: bold;
        margin: 1rem;
    }
    .main__actividades{
        background-color: rgb(240, 247, 238);
        overflow-y: auto;
        .article__position{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1rem;
            .main__actividades__article__div__h2{
                text-align: center;
                font-size: 2rem;
                padding-top: 3rem;
                padding-bottom: 1rem;
            }
            .card {
                width: 20rem;
                height: 26rem;
                background-color: #212121;
                border-radius: 1rem;
                border: #212121 0.2rem solid;
                transition: all 0.4s ease-in;
                box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
                position: static;
                &:hover{
                    transform: translateY(-1.5rem);
                    border: rgb(245, 196, 52) 0.2em solid;
                    border-radius: 2.5rem 0 2.5rem 0;
                }
                .main__actividades__article__div {
                    height: 250px;
                    width: 250px;
                    margin: 20px;
                }
            }
            .main__actividades__article__p {
                font-size: 0.8rem;
                padding-left: 1rem;
                padding-right: 1rem;
                color: rgb(240, 247, 238);
            }
        }
    }
    .main__instalaciones{
        background-color: rgb(245, 196, 52);
        overflow: auto;
    }
}

img{
    height: 100%;
    width: 100%;
}

.fuente{
    font-family: 'Roboto', sans-serif;
}

.whatsApp__div{
    height: 60px;
    width: 60px;
    background-color: transparent;
    position: fixed;
    left: 81%;
    top: 87%;  
}

/* DESKTOP */
@media screen and (min-width: 1024px){
    .altura{
        height: 89vh;
    }
    .whatsApp__div{
        height: 80px;
        width: 80px;
        background-color: transparent;
        position: fixed;
        left: 92%;
        top: 82%;  
    }
}
/*------------------------------
div {
    color: variables.$color-main;
}

a{
    color:red;
    &:hover{
        color: green;
    }
}

*/