/* NAVBAR*/
@use 'variables';

header{
    position: sticky;
    top: 0px;
    z-index: 4;
    .header__nav__div__logo{
        height: 50px;
        width: 50px;
        background-color: transparent;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .color__button__var{
        border: variables.$color-main solid 1px;
    }
    .ul__li__a__color{
        text-decoration: none;
        color: variables.$color-main;
        font-family: variables.$font-roboto;
    }
    .ul__li__a__activo{
        font-weight: bold;
    }
    .nav__color__hover:hover {
        color: variables.$color-yellow;
    }
}

.color{
    background-color: variables.$color-dark;
}